*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
  color: #0B1942;
}

.nav-link{
  color: #ffffff;
}

.nav-icon{
  background-color: #F5005B;
}


.film-link{
  color: #00B7D3;
}
